/* line 1, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/homepage.scss */
.featured-project-list {
  display: flex;
  margin: 5vh 10vh;
}

/* line 7, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/homepage.scss */
.card-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #CFBCC1;
  width: 250px;
  height: 200px;
  margin: 10px;
}

/* line 17, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/homepage.scss */
.card-project-image {
  height: 80%;
}

/* line 20, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/homepage.scss */
.card-project-title {
  width: 80%;
  margin: 4px 0px;
}
/* line 2, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/modal.scss */
.modal-div {
  margin: 0 .5rem;
  display: flex;
}

/* line 7, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/modal.scss */
.login-button {
  font-size: 11px;
  height: 2.2rem;
  border: 1px solid grey;
  border-radius: 3px;
  width: 8rem;
  background-color: #90C3D4;
}

/* line 16, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/modal.scss */
.signup-button {
  font-size: 11px;
  height: 2.2rem;
  border: 1px solid grey;
  border-radius: 3px;
  width: 8rem;
  background-color: #D3D9DB;
}

/* line 25, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/modal.scss */
.modal-body {
  display: flex;
  flex-direction: column;
  margin: 8px 15px;
}

/* line 31, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/modal.scss */
.modal-input {
  border: none;
  margin-right: 5px;
}

/* line 36, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/modal.scss */
.modal-input > input {
  border: none;
  margin-left: 10px;
}

/* line 41, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/modal.scss */
.dropdown-option {
  position: absolute;
}

/* line 44, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/modal.scss */
.dropdown-menu-contents {
  position: relative;
  top: 5px;
  right: 70px;
  width: 100px;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: white;
}

/* line 54, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/modal.scss */
.dropdown-menu-contents > div {
  padding: 10px;
}
/* line 1, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/new_project.scss */
.create-project-div, .create-project-form,
.create-project-form-text-inputs {
  display: flex;
  flex-direction: column;
}

/* line 7, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/new_project.scss */
.create-project-div {
  padding: 0vh 10em;
}

/* line 11, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/new_project.scss */
.create-project-form {
  width: 100%;
  padding: 4vh 10em;
  padding-bottom: 4vh;
  align-items: center;
  background-color: #E8E5D5;
}

/* line 19, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/new_project.scss */
.create-project-form-inputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 5vh;
  padding: 3vh 3em;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: #DED8B8;
}

/* line 30, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/new_project.scss */
.create-project-form-text-inputs {
  width: 35em;
}

/* line 34, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/new_project.scss */
.create-project-div input {
  border-radius: 5px;
  border: 3px solid grey;
  background-color: grey;
  border: none;
  margin-top: 10px;
  width: 100%;
}

/* line 43, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/new_project.scss */
.create-project-div textarea {
  -webkit-appearance: none;
  border: 3px solid grey;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

/* line 52, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/new_project.scss */
.submit-button-create-project {
  margin-top: 0px;
  width: 7em;
}

/* line 56, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/new_project.scss */
.add-step-button {
  margin-top: 15px;
}
/* line 1, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/show_project.scss */
.project-show-main {
  display: flex;
  flex-direction: column;
  background-color: #DED8B8;
  margin: 5vh 8em;
  padding: 0vh 2em;
}

/* line 9, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/show_project.scss */
.project-show-header {
  border-bottom: 1px solid grey;
}

/* line 13, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/show_project.scss */
.project-show-main > p {
  margin: 5vh 2em;
}

/* line 17, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/show_project.scss */
.steps-list {
  list-style: none;
  padding-left: 0;
}

/* line 24, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/show_project.scss */
.steps-list > li {
  border-top: 1px solid grey;
  align-self: left;
  margin: 1vh 0px;
}

/* line 30, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/show_project.scss */
.steps-list p {
  margin: 2vh 2em;
}

/* line 34, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/components/show_project.scss */
.delete-button {
  -webkit-appearance: none;
  align-self: center;
  border-radius: 10px;
}
/* line 1, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/header.css.scss */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid grey;
}

/* line 10, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/header.css.scss */
.auth-modals {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

/* line 17, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/header.css.scss */
.logo {
  display: table;
  margin-left: 20px;
}

/* line 22, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/header.css.scss */
logo h1 {
  display: table-cell;
}

/* line 26, /Users/diane/Documents/AppAcad/projects/Craftables/Craftables/app/assets/stylesheets/header.css.scss */
.dropdown-form > button {
  width: 30px;
  border: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


*{
  font-family: 'Ubuntu', sans-serif;
}

h2, h4, p, h5{
  margin: 8px 12px;
}

button, input, textarea {
  -webkit-appearance: none;
  border: none;

}

button {
  width: 100px;
  align-self: center;
}
