#front-page-search{
  background-image: url(https://res.cloudinary.com/dezhy95vj/image/upload/c_limit,h_1276,q_100,w_1920/v1490143333/Craftables/green-1738220_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.search-bar{
  background-color: pink;
  opacity: .5;
}
