#front-page-search{
  background-image: url(https://res.cloudinary.com/dezhy95vj/image/upload/c_limit,h_1276,q_100,w_1920/v1490143333/Craftables/green-1738220_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 1;
  z-index: 1;

}
#front-page-search > .search-bar{
  display: flex;
  align-items: center;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  width: 900px;
}


#front-page-search > .search-bar > div {
  font-size: 80px;
  margin-right: 20px;
  height: 100%;
  padding-right: 20px;

}
#front-page-search > .search-bar form{
  width: 40%
}

#front-page-search > .search-bar input {
  height: 60px;
  background: none;
  font-size: 60px;
  width: 100%;
  border-bottom: 3px solid white;
}
