
.modal-div{
  margin: 0 .5rem;
  display: flex;
}

.login-button{
  font-size: 11px;
  height: 2.2rem;
  border: 1px solid grey;
  border-radius: 3px;
  width: 8rem;
  background-color: #90C3D4;

}
.signup-button{
  font-size: 11px;
  height: 2.2rem;
  border: 1px solid grey;
  border-radius: 3px;
  width: 8rem;
  background-color: #D3D9DB;
}

.logout-button{
  width: 100%
}

.modal-body{
  display: flex;
  flex-direction: column;
  margin: 8px 15px;
}

.modal-input{
  border: none;
  margin-right: 5px;
}

.modal-input > input {
  border: none;
  margin-left: 10px;
}

.dropdown-option{
  position: absolute;
}
.dropdown-menu-contents{
  position:relative;
  top: 5px;
  right: 70px;
  width: 100px;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: white;

}
.dropdown-menu-contents >div {
  padding: 10px;

}
