
.create-placeholder{
  height: 15vh;
}


.create-project-section{
  padding: 10px;
}

.create-project-title, .create-project-des{
  margin: 10px 0px;
  border-bottom: 1px solid grey;
}

.create-project-img-wrapper{
  margin-top: 40px;
  height: 300px;
  border: 1px dashed grey;

}
.image-placeholder{
  height: 100%;
}
.create-project-des textarea{
  height: 300px;
  width: 100%;
}
.create-project-nav-buttons{
  position: relative;
  top: -40vh;
  left: -2em;
}
.double-arrow-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  height:25px;
  width: 25px;
  border-radius: 500px;
  background-color: grey;
}

.new-project-nav-buttons{
  position: absolute;
  left: 1.8em;
  top: 0;
  display: none;
}
.create-project-nav-buttons:hover .new-project-nav-buttons{
  display: inline-block;
}
.new-project-nav-buttons > button {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  border-radius: 500px;
}



.add-photo{
  position:relative;
  top: -290px;
  right: -500px;
  border-radius: 500px;
}

.create-project-img{
  height: 100%;
  background-color: pink;
}
.submit-button-create-project{
}
