.move-it-down{
  margin-top: 50vh;
}
.search-result-page{
  height: 72vh;

}
.search-project-list{
  display: flex;
  flex-wrap: wrap;
  margin: 5vh 5em;

}
.no-result-page{
  display: flex;
  height: 58vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.no-result-page > div{
  margin-top:2vh;
}


.no-result-page a{
  background-color: grey;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}
.card-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: auto;
  margin: 10px;
}
//
.card-img-card{
  width: 100%;
  height: 185px;
  overflow: hidden;
  background-size: cover;
  background-color: wheat;

}

.card-project-info{
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.card-project-title {
  width: 80%;
  margin: 4px 0px;
}

.search-action-buttons{
}
.search-action-buttons > .auth-modals{
  margin:0;

}
