#project-show-main-picture{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  height: 70vh;
  width: 100%;
}
.project-show-words{
  font-size: 16px;
}

.show-img-url{
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.main-body{
  margin-top: 0px;
}
.project-show-nav{
  height: 64px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
}

.project-show-nav a {
  margin-right: 36px;
  font-size: 19px;
}
.project-show-header {
  border-bottom: 1px solid grey;
  margin-left: 0px;
  padding-left: 0px;
}

.project-show-header div{
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.project-show-title {
  padding-top: 30px;

}
.project-show-author{
  padding-bottom: 30px;
}

.project-show-intro{
  padding: 25px 0px;
  border-bottom: 1px solid grey;

}
.single-step{
  padding: 10px 0px;
  border-bottom: 1px solid grey;
}

.show-step-photo-section{
  width: 100%;
  display: flex;
  justify-content: center;
}
.show-page-container{
  width: 80%;
  height: auto;
  margin: 15px 0px;
}

.show-page-container > img {
  width: 100%;
}




.edit-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid grey;
}

.edit-buttons > a{
  background-color: grey;
  align-self: center;
  padding: 15px 5px;
  color: white;
}
.jump-step{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
#sidebar{
  width: 330px;
  z-index: 30;
}

#sidebar-top-bar-wrapper{
  display: none;
  width: 600em;
  height: 62px;
  position:relative;
  padding-right: 200em;
  margin-left: -100em;
  z-index: -11;
  border-bottom: 1px solid grey;
  background-color: white;
}
#sidebar-top-bar{
  height: 62px;
  background-color: white;
  z-index: 20;
}



.project-show-bio{
  border: 1px solid grey;
  margin: 0px 10px;
  padding: 20px 15px;
}

.project-show-content-divider{
  border-bottom: 1px solid grey;
  padding: 10px 0px;

}
.project-show-content-fav-views{
  padding: 10px 0px;
}
.project-show-content-author{
  border-top: 1px solid grey;
}

#show-page-author-bio{
  padding-bottom: 20px;
  border-bottom: 1px solid grey;

}

.each-comment{
  border-bottom: 1px solid grey;
  padding: 10px 0px;

}
.comment-user-info{
  display: flex;
  justify-content: space-between;
  width: 100%
}

.comment-img{
  height: 50px;
  padding-right: 10px;
}
.comment-img img{
  width: 80px !important;
}
.comment-info{
  display: flex;
  flex-direction: column;
  align-items:flex-end;
}
.comment-body{
  margin: 15px;
}

.submit-comment{
  margin: 30px 0px;
}

.show_img_url{
  width:100%;
}

.profile-pic-small{
  width: 100px;
}
.profile-pic-small > img{
  padding: 30px 0px;
  width:100%;
}
.profile-pic-extra-small > img{
  width:100%;
}
.profile-pic-extra-small{
  padding: 10px 0px;
  width: 100px;
}
.profile-pic-extra-bottom{
  padding: 10px 0px;
  width: 100px;
}
.profile-pic-extra-bottom > img{
  width:100px;
}
.project-show-content-author{
  display: flex;
  flex-direction: column;
}
.project-show-content-author > h2{
  margin-left: 10px;
}
.project-show-sidebar-author-info{
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.project-show-sidebar-author-bio{
  width: 160px;
  height: 160px;

  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px;
}

.effect1{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}


.effect2{
  position: relative;
}

.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
