.header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: black;
  text-shadow: 2px 2px 1px white;
  width: 100%;
}

.header .search-bar{
  // background-color: pink;
  width: 300px;
}
.header .search-bar div{
  padding-right: 10px;
  // background-color: wheat;
}
.header .search-bar form{
  padding-left: 10px;
  // background-color: blue;
}

.auth-modals {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  margin-right: 10em;
}

.logo {
  display: table;
  margin-left: 10em;
}

logo h1 {
  display: table-cell;;
}

.dropdown-form > button {
  width: 30px;
  border: none;
}
