.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid grey;
}

.auth-modals {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.logo {
  display: table;
  margin-left: 20px;
}

logo h1 {
  display: table-cell;;
}
